h1
{
    color:darkslateblue;
    font-weight: bold;
  font-style: italic;
  font-family:Verdana;
}
h2
{
 color:darkgreen;
          font-weight: bold;
          font-style:normal;
          font-family:Calibri;
}
h3
{
 color:darkblue;
          font-weight: bold;
          font-style:normal;
          font-family:Calibri;
}
strong
{
 color:darkgreen;
          font-weight: bold;
          font-style:normal;
          font-family:Calibri;
}
body
{

    background-color:white;
    background-repeat: no-repeat;
    background-size:auto;

}
.mytext
{
    position:relative;
    width: 500px;
    height: 30px;
}
.sbutton
{
    position: relative;
    left: 615px;
    color: aliceblue;
    width: 200px;
    height: 40px;
    font-size: 24px;
    margin: 5px;
    background-color:red;
}
.rqstbutton
{
    position: relative;
    left:0px;
    width: 250px;
    height: 60px;
    font-size: 24px;
    color: aliceblue;
    background-color:red;
    margin:5px;
}